
# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env

# Java
*.class

# VSCode
.vscode/

# Others
*.swp
*.bak
*.tmp
